.header {
    font-size: 2rem;
    text-align: center;
}

.relation {
    font-size: 2rem;
    text-align: center;
}

.relation_sign {
    font-size: 2rem;
    color: #955656;
}

.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;

}
.clue {
    transition: opacity 0.2s ease-in-out;
}
