.attempts {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    background: #333;
    border-radius: 45%;
}
