.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    min-width: 90vw;
}
* {
    box-sizing: border-box;
}
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}
