.numbers {
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.number {
  width: 8%;
  aspect-ratio: 1/1;
}

@media (max-width: 600px) {
  .number {
    width: 15%;
  }
}
